// formatting for nav BUTTON

.nav__btn {
  background-color: var(--white);
  border: transparent;
  height: 2em;
  margin: 1em;
}

.nav__btn--burger {
  display: block;
  width: 3.5em;
  height: 0.4em;
  background-color: var(--dark-grey);
}

.nav__btn--burger::before,
.nav__btn--burger::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.5em;
  height: 0.4em;
  background-color: var(--dark-grey);
}

.nav__btn--burger::before {
  transform: translateY(-0.8em);
}

.nav__btn--burger::after {
  transform: translateY(0.8em);
}

// formatting for nav MENU

.nav__content {
  display: block;
  position: fixed;
  height: 100%;
  background: var(--white);
  font-size: 1rem;
  min-width: 5rem;
  left: -30%;
  transition: 2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

// animation for nav MENU hover

.nav__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav:hover .nav__content {
  left: 0;
  display: block;
  width: 30%;
  transition: 2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

// formatting for nav ITEM

.nav__item {
  cursor: pointer;
  position: relative;
  line-height: 2.5rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--dark-grey);
}

.nav__item:before,
.nav__item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  background: var(--dark-grey);
}

.nav__item:before {
  left: 0.5rem;
}

.nav__item:after {
  right: -0.5rem;
  background: var(--dark-grey);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

// animation for nav ITEM hover

.nav__item:hover:before {
  background: var(--dark-grey);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__item:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

@media all and (max-width: 767px) {
}
