.nav__btn {
  background-color: var(--white);
  border: transparent;
  height: 2em;
  margin: 1em;
}

.nav__btn--burger {
  display: block;
  width: 3.5em;
  height: 0.4em;
  background-color: var(--dark-grey);
}

.nav__btn--burger::before,
.nav__btn--burger::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.5em;
  height: 0.4em;
  background-color: var(--dark-grey);
}

.nav__btn--burger::before {
  transform: translateY(-0.8em);
}

.nav__btn--burger::after {
  transform: translateY(0.8em);
}

.nav__content {
  display: block;
  position: fixed;
  height: 100%;
  background: var(--grey);
  font-size: 1rem;
  min-width: 5rem;
  left: -30%;
  transition: 2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  line-height: 2.5rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--dark-grey);
}

.nav__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav:hover .nav__content {
  left: 0;
  display: block;
  width: 30%;
  transition: 2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__item:hover {
  background: var(--hot-pink);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

@media all and (max-width: 767px) {
}
